@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------
		RESET
----------*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------
	GENERAL
---------*/
/* 
Poppins:
Light 300
SemiBold 600

Martel Sans:
Regular 400
Bold 700
ExtraBold 800
*/

html, body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: "Poppins", "Martel Sans";
	background-color: #fff;
	color: #3F4255;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03em;
}

hr {
	margin: 0;
	border: none;
	background-color: #D4D7E5;
	height: 1px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #9093A6;
	transition: opacity 0.3s;
}

a:hover {
	opacity: 0.6s; 
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.name {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.btn {
	font-family: "Martel Sans";
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.02em;
	padding: 15px 25px;
	background-color: #F2F4FA;
	color: #9093A6;
	border-radius: 5px;
}

.title {
	font-family: "Poppins";
	font-weight: 300;
	font-size: 36px;
	line-height: 1.7;
	letter-spacing: 0.08em;
}

.card__btn {
	cursor: pointer;
	position: absolute;
	padding: 0;
	border-radius: 50%;
	border: 0;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: #fff;
	box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}

.card__btn-1 {
	top: 124px;
	left: -20px;
}

.card__btn-2 {
	top: 124px;
	right: -20px;
	transform: rotate(180deg);
}

/*---------
	HEADER
---------*/
.header {
	padding: 25px 0;
}

.logotype {
	width: 185px;
	height: 24px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__nav {
	display: flex;
	align-items: center;
	gap: 50px;
}

.header__list {
	display: inline-flex;
	gap: 50px;
}

.header__profile {
	font-family: "Martel Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	display: flex;
	align-items: center;
	gap: 5px;
}

.header__cart {
	font-family: "Martel Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	display: flex;
	align-items: center;
	gap: 5px;
}

.burger-menu {
	display: block;
	padding: 0;
	border-radius: 50%;
	border: 0px;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: transparent;
	box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
	cursor: pointer;
}

/*---------
	WELCOME
---------*/
.welcome {
	position: relative;
	overflow-x: visible;
}

.welcome .container {
	display: flex;
	justify-content: space-between;
}

.welcome__desc {
	max-width: 530px;
	margin-top: 120px;
}

.welcome__title {
	font-family: "Poppins";
	font-weight: 300;
	font-size: 58px;
	line-height: 1.1;
	letter-spacing: 0.05em;
	color: #3F4255;
	width: 500px;
	margin-bottom: 90px;
}

.welcome__btns-wrapper {
	display: flex;
	gap: 25px;
}

.welcome__btn {
	border-radius: 5px;
	border: 2px solid #FFE145;
	padding: 19px 24px;
}

.welcome__text {
	color: #3F4255;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	font-family: "Martel Sans"
}

.reg {
	color: #3F4255;
	display: flex;
	justify-content: center;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 1.3; 
	font-family: "Martel Sans"
}

.offers {
	position: absolute;
	left: 0;
	bottom: -55px;
	display: flex;
	max-width: 900px;
	padding: 28px 25px 28px 100px;
	gap: 45px;

	background-color: #fff;
	border-radius: 16px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}

.offer {
	display: flex;
	gap: 17px;
}

.offer__img {
	width: 48px;
	height: 48px;
}

.offer__text {
	font-weight: 300;
}

.offer__text--1 {
	width: 180px;
}

.offer__text--2 {
	width: 125px;
}

.offer__text--3 {
	width: 170px;
}

.plate__wrapper {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.welcome__img-wrapper {
	position: relative;
}

.welcome__img-wrapper::after {
	content: url('images/welcome/arrow.svg');
	position: absolute;
	top: 635px;
	right: 80px;
}

.welcome__img-wrapper::before {
	content: '';
	position: absolute;
	width: 125px;
	height: 170px;
	transform: rotate(-32deg);
	background-image: url('images/welcome/rucola.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	bottom: 70px;
	left: -115px;
}

.welcome__img {
	width: 650px;
	height: 650px;
	margin-top: 25px;
	animation: spin-plate 60s linear infinite;
}

@keyframes spin-plate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plate__text {
	font-family: "Martel Sans";
	color: #313030;
	display: inline-flex;
	justify-content: end
}

/*-------------
	RESTAURANTS
-------------*/
.restaurants {
	margin-top: 105px;
}

.restaurants__card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.card {
  box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
	border-radius: 5px;
	overflow: hidden;
}

.card__img-top {
	object-fit: cover;
	width: 300px;
	height: 190px;
}

.card__img-wrapper {
	width: 300px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*----------
	SEARCH
----------*/
.search {
	margin-top: 70px;
	background-color: #F2F4FA;
}

.search__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 80px 170px;
}

.search__title {
	margin-bottom: 25px;
}

.search__text {
	font-family: "Martel Sans";
	width: 390px;
}

.delivery {
	display: flex;
	gap: 5px;
}

.delivery__form {
	position: relative;
}

.delivery__form::before {
	content: url('/images/Subtract.svg');
	width: 24px;
	height: 24px;
	position: absolute;
	top: 27px;
	left: 20px;
}

.delivery__form:has(.delivery-form__input:not(:placeholder-shown))::before {
    display: none;
}

.delivery-form__input:not(:placeholder-shown) {
    padding-left: 20px; /* Смещаем текст влево, когда иконка скрыта */
}

.delivery-form__input {
	width: 340px;
	height: 75px;
	border-radius: 6px;
	border: #FFF;
	box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);

	font-family: 'Martel Sans';
	font-size: 16px;
	letter-spacing: 0.03em;
	padding-left: 50px;
	transition: padding-left 0.3s ease;
}

.delivery-form__input::placeholder {
	font-family: "Martel Sans";
	color: #B7B9C3;
	padding-left: 0;
}

.delivery__btn {
	font-family: "Martel Sans";
	font-weight: 700;
	color: #B79C10;
	padding: 25px;
	background-color: #FFE145;
	border-radius: 5px;
}

/*----------
	SPECIAL
----------*/
.special {
	margin-top: 70px;
	margin-bottom: 70px;
}

.speacial__card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.card__food {
	width: 136px;
	height: 136px;
	border-radius: 6px;
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.food {
	
}

.food__name {
	font-family: "Martel Sans";
	color: #313030;
	font-weight: 300;
	text-align: center;
}

.card__btn-11 {
	top: 44px;
	left: -20px;
}

.card__btn-22 {
	top:44px;
	right: -20px;
	transform: rotate(180deg);
}

/*-------
	LEMON
-------*/
.lemon {
	/* height: 290px; */
	background-image: url('/images/lemon.jpg');
	/* background-position: 90% 15%; */
	/* background-size: 130%; */
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	background-repeat: no-repeat;
}

.lemon__wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	/* padding: 90px 375px 130px ; */
	flex-wrap: wrap;
	gap: 30px;
}

.lemon__item { 
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	text-align: center;
	width: 200px;
}

.circle {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 58px;
	line-height: 1.1;
	letter-spacing: 0.05em;
	position: relative;
	color: #3F4255;
	width: 126px;
	height: 126px;
	border-radius: 50%;
	background-color: #FFE145;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid #B79C10;
	top: -20px; 
	left: 0;
}

.circle__text {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0em;
	color:#3F4255
}

/*-----
	MAP
-----*/
.map {
	margin-top: 70px;
	margin-bottom: 70px;
}

/*-------
	LINKS
-------*/
.links {
	margin-bottom: 70px;
}

.pale {
	opacity: 0.5;
}

.links__card {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link__card {
	width: 296px;
	height: 299px;
	border-radius: 6px;
	object-fit: cover;
}

/*-------
	FOOTER
-------*/
.footer {
	background-color: #3F4255;
	color: #D4D7E5;
	padding: 50px 0;
}

.footer__top {
	display: flex;
	justify-content: space-between;
}

.footer__brand {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.footer__apps {
	display: flex;
	gap: 10px;
	position: relative;
}

.footer__apps::after {
	content: "";
	position: absolute;
	width: 300px;
	height: 1px;
	background-color: #D4D7E5;
	left: 0;
	bottom: 78px;
}

.store {
	height: 28px;
}

.footer__nav {
	display: flex;
	gap: 90px;
}

.footer__nav-col {

}

.footer__title {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0;
	color: #fff;
	margin-bottom: 24px;
}

.footer__links {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer__link {
	font-family: "Martel Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: #D4D7E5;
}

.footer__lang {
	margin-top: 16px;
}

.footer__address {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer__address > p {
	font-family: "Martel Sans";
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: #fff;
}

.number {
	font-family: "Martel Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: #D4D7E5;
}

.mail {
	font-family: "Martel Sans";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: #D4D7E5;
}

.footer__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 27px;
}

.social {

}

.social__img {

}

.footer__legal {
	display: flex;
	align-items: center;
	gap: 60px;
}

.legal__text {
	font-family: "Martel Sans";
	font-weight: 800;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 0;
	color: #fff;
}

.legal__name {
	font-family: "Martel Sans";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 0;
	color: #fff;
}